/*Cette page est la première que je réalise, désolé si le code n'est pas très beau*/
@charset "utf-8";
@font-face
{
	font-family:'Exo2 Light';
	src: url('Polices/Exo2-Light.otf');

}
@font-face
{
	font-family:'Exo2 med';
	src: url('Polices/Exo2-Medium.otf');
}
@font-face
{
	font-family:'Exo2 reg';
	src: url('Polices/Exo2-Regular.otf');
}
@font-face
{
	font-family:'Exo2 bold';
	src: url('Polices/Exo2-Bold.otf');
}
html,body
{
	height: 100%;
	padding: 0;
	margin: 0;
}
main
{
	display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.color_blue
{
	color : #054169;
}
a
{
	text-decoration: none;
}
.color_white
{
	color : white;
}

.color_gray
{
	color : #8B8B8B;
}
.color_gray:hover
{
	color:#054169;
}
/********** En-Tête **********/
header
{
	display :flex;
	padding-left: 5%;
}
#menu_icon{
	margin:55px 20px 10px 0px;
	padding-left: 0px;
	display: none;
}
.bar_icon{
	width: 35px;
    height: 5px;
    background-color: #8B8B8B;
    margin: 6px 0;
}

h1
{
	font-size: 60px;
	font-family: 'Exo2 Light';
	margin-bottom: 0px;
}

h2
{
	font-size: 32px;
	font-family: 'Exo2 Light';
	text-align: center;
}
nav ul
{
	/*border: solid blue;*/
	margin: 70px 150px;

}
nav , li /*ACCUEIL PROFIL CONTACT*/
{
	font-size: 30px;
	font-family: 'Exo2 med';
}

nav ul
{
	display: flex;
	list-style-type: none;
}

nav, li:hover
{
	color : #054169;
}
/********** Fin En-Tête **********/
li
{
	/*padding-left: 20%;*/
	margin-right: 20%;
	text-align: center;
	/*border: 10px solid;*/

}
/********** Corps (section) **********/
section
{
	display: flex;
}

#avatar
{
	border:25px #054169 inset;
	border-radius: 400px;
	/*
	width: 370px;
	height: 392px;
	*/
}
#avatar:hover
{
	border:25px #054169 outset;
	border-radius: 400px;
	background-color: #054169;
}

h3
{
	font-size: 71px;
	font-family: 'Exo2 reg';
	margin-bottom: 10px;

}

h4
{
	font-size: 47px;
	font-family: 'Exo2 reg';
	margin: 0px 0px 30px 0px;
	padding: 0;
}

section ul /*COMPETENCE, PROFIL, MON_TRAVAIL*/
{
	font-size: 22px;
	font-family: 'Exo2 reg';
	display:flex;
	list-style-type: none;
	padding: 0;
	margin: auto;
  width: 100%;
}

.cercle{

	min-width:215px;
	min-height: 215px;
	border-radius: 50%;
	margin-right: 1%;
	line-height: 200px;
	background-color: #054169;
}
.cercle:hover{
	color:#fff;
	text-decoration:none;
	background:#8B8B8B;
}
#corp_text{
	margin-left: 15px;
}

/********** Corps (section) **********/

article,h6
{
	font-family:'Exo2 Light';
}
h5,h6,article
{
	font-size: 24px;
}
/********** Mes Compétences **********/
#competence
{
	height: 75%;
	width: auto;
	background: #054169;
	display: flex;
	justify-content: center;
	align-items: center;
}

#competence img
{
	width: 166px;
	height: 175px;
}

#logo_div
{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.logo
{
	margin: 10px;
}
/********** Fin Mes Compétences **********/


/********** Footer **********/
footer
{
	flex:0 1 auto;
	width: 100%;
	background-color: #8B8B8B;
	display: flex;
	justify-content: space-around;
}

h5
{
	font-family:'Exo2 bold';
}

.footer_info
{
  display: flex;
}

.footer_info img
{
	margin: auto;
}

footer aside
{
	margin: 3%;
}

h5,h6
{
  margin:15px	;
}
#logo_contact_div
{
	text-align: center;
}
.logo_contact
{
	height: 25px;
	width: 25px;
}

/********** Fin Footer **********/

/*********** PARCOURS ************/

* {
  box-sizing: border-box;
}

/* Set a background color */

body {
  margin:auto;
}
.blue
{
	background-color: #054169;
	color:white;
}
.gray
{
	background-color: #8b8b8b ;
	color:#054169;
}
.separation
{
  text-align: center;
  height: 150px;
  display: flex;
  justify-content:center;
}

.separation h1
{
  width: auto;
  margin: auto;
}
/* Timeline actuel */
#parcours {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}

/* Trait de timeline */
#parcours::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:  #8b8b8b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Conteneur autour du contenu */
.conteneur2 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* cercle d'évènement */
.conteneur2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #8b8b8b;
  border: 4px solid #054169;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.contenu p
{
	font-family: "Exo2 med";
}
/* Place the container to the left */
.gauche {
  left: 0;
}

/* Place the container to the right */
.droite {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.gauche::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #8b8b8b;
}

/* Add arrows to the right container (pointing left) */
.droite::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #8b8b8b transparent transparent;
}

/* Fix the circle for containers on the right side */
.droite::after {
  left: -16px;
}

/* The actual content */
.contenu {
  padding: 20px 30px;
  background-color: #054169;
  position: relative;
  border: solid 5px #8b8b8b;
  border-radius: 15px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  #parcours::after {
    left: 31px;
  }

/* Full-width containers */
  .conteneur2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .conteneur2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .gauche::after, .droite::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .droite {
    left: 0%;
  }
}
/*********** Fin PARCOURS ************/

/********** Projets *************/
#projets p{
	margin: 0;
	color : white;
	text-align: justify;
	max-width: 400px
}

.fond_gauche{
	background: no-repeat url("../images/fond_g.png"); /* Réenregistrer fond sous Illustrator (légère bordure non-voulue)*/
  height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fond_droit{
	background: no-repeat url("../images/fond_d.png") right;
	height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/**Media query 1264 px plus bas */

/********** Fin Projets *************/

/********** Nav fullscreen *************/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
		font-family: 'Exo2 Light';
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/********** End Nav fullscreen ******************/
#message
{
	display: none;
}
/********** Responsive ******************/
@media screen and (max-width: 1264px)
{

    #title
    {
			margin: auto;
    }

    nav
    {
    	display: none;
    }
		footer
		{
			flex-direction: column;
			min-height: 400px;
		}
		#message
		{
			display: contents;
		}
    section
    {
    	flex-direction: column;
    	margin-left: 1%;
    }

    .cercle
    {
    	min-width: 190px;
    	min-height: 150px;
			margin: auto;
    }
    aside
    {
    	text-align: center;
    	justify:center;
    }
		.color_white
		{
			width: auto;
			margin: auto;
		}
		#menu_icon
		{
			display: initial;
			margin: 1%;
		}
		header
		{
			margin-left: 0;
			padding-left: 0;
		}

		#projets p{
			display:none;
		}

		.fond_gauche, .fond_droit{
			align-items: center;
			justify-content: center;
		}

		#competence
		{
			height: auto;
		}
}
